body{
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

#metricspanel {
position: absolute;
z-index: 1000;
font: 14px/16px Arial, Helvetica, sans-serif;
background: white;
margin-top: 100px;
border-radius: 5px;
padding: 15px;
margin-left: 10px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
width:381px;
}

/*#metricspanel .metricspanellabel {
line-height:3;
border:dotted 1px red;
}*/

/*Trick: to see where boxes are*/
/*.toggle-heat {
border:dotted 1px green;
}

.toggle-active {
border:dotted 1px purple;
}
*/

/*Styling for the hover box info*/ 
.info {
    padding: 6px 30px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 300px;
}

/*.leaflet-control.info {
    margin-top: 500px;
}*/

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.show-heat-row {
    margin-top: 50px;
}

.legend {
    line-height: 18px;
    color: #555;
    width: 225px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    font: 14px/16px Arial, Helvetica, sans-serif;
}

#slider-range, #slider {
    width: 75%;
}

.is-nodisplay {
    display:none;
}

.radio {
    margin-left: 30px;
}

/*#welcome {
    border:dotted 1px purple;
}*/