body{
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

#metricspanel {
position: absolute;
z-index: 1000;
font: 14px/16px Arial, Helvetica, sans-serif;
background: white;
margin-top: 100px;
border-radius: 5px;
padding: 15px;
margin-left: 10px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/*Styling for the hover box info*/ 
.info {
    padding: 6px 30px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.leaflet-control.info {
    margin-top: 200px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    font: 14px/16px Arial, Helvetica, sans-serif;
}

#slider-range, #slider {
    width: 75%;
}

.is-nodisplay {
    display:none;
}