
/*Must specify or size else assumed 0x0pixels */

      html { height: 100%; }
      body { height: 100%; 
            width: 100%; 
            margin-right: auto; 
            margin-left: auto; 
  /*          padding: 5px */
      }
      #map-canvas {
        height: 75%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 100px
      }
        #map-canvas img {
        max-width: none
      }
/*This formats the button panel for the heat map functions */
      #panel {
        position: absolute;
/*        position absolute puts at the top*/
        top: 20px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }

/*This formats the property options panel for the heat map functions */
      .propertyoptions {
        top: 20px;
/*        left: 50%;
        margin-left: -180px;
        z-index: 5;*/        
        background-color: #fff;
        padding: 5px;
        padding-top: 10px;
/*        border: 1px solid #999;*/
      }
     #addresssearchpanel {
        position: absolute;
        top: 5px;
/*        left: 50%;
*/        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }