{% extends 'master.html' %}
{% block body %}

<!-- Address search geocode panel -->
    <div id="addresssearchpanel">
      <input id="address" type="textbox">
      <input type="button" value="Geocode" onclick="codeAddress()">
    </div>

<!-- "hold" the map in a div element, reserve a spot for it -->
    <div id="map-canvas"></div>

<!-- BUTTONS -->
    <div id="panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>

    <div id="metricspanel">
    <!-- Other Metrics: PSF, valuation, rental price, sophisticated logic -->
      <INPUT TYPE="Radio" Name="metrics" Value="CC">Listing Price
      <INPUT TYPE="Radio" Name="metrics" Value="DC">Sale Price
      <INPUT TYPE="Radio" Name="metrics" Value="PP">Price Change
    </div>

<!-- TODO Need these to be multi-select with checkboxes in drop down menu -->
    <div id="propertytype" class = "propertyoptions">
    <form>
    Property Type:
    <select id="baths">
    <option></option>
    <option>Single Family</option>
    <option>Townhouse</option>  
    <option>Apt/Condo/Loft/Co-Op/TIC</option>
    <option>Duet Home</option>
    <option>Floating Home</option>
    <option>Mobile Home</option>
    </select>
    </form>
    </div>

    <div id="bedrooms" class = "propertyoptions">
    <form>
    Beds:
    <select id="beds" onchange="favBrowser()">
    <option></option>
    <option>1+</option>
    <option>2+</option>  
    <option>3+</option>
    <option>4+</option>
    <option>5+</option>
    </select>
    </form>
    </div>

    <div id="bathrooms" class = "propertyoptions">
    <form>
    Baths:
    <select id="baths">
    <option></option>
    <option>1+</option>
    <option>2+</option>  
    <option>3+</option>
    <option>4+</option>
    <option>5+</option>
    </select>
    </form>
    </div>

    <select multiple class = "propertyoptions">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
    </select>

<!-- TODO Need to add another baseline button? -->
    <div id="slider" class = "propertyoptions">
    5% <input id="slide" type="range"
    min="5" max="200" step="5" value="100"
    onchange="updateSlider(this.value)" />
    200%
    </div><br/>

<!-- TODO need to have drop down range input boxes for price and sq foot -->

    <iframe width="500" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col11+from+1nbCu0zT76bD_V4ZqCyRe89wdcZrnmVv9jmAjRYnF&amp;viz=MAP&amp;h=false&amp;lat=37.77949187346111&amp;lng=-121.31371743124998&amp;t=1&amp;z=8&amp;l=col11&amp;y=2&amp;tmplt=3&amp;hml=GEOCODABLE"></iframe>

<!-- Load the Google Maps API in scripts tag; API key; sensor determines whether have GPS locator to determine user's location -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbQpzzHoLcw8KFj65qmHiERAtUBNLpg5I&sensor=false&libraries=visualization"></script>

<script type="text/javascript" src="/static/js/main.js"></script>

{% endblock %}


{% block script %}

<!-- MARKERS for Active Listings -->
<!-- Pull functions from main.js. This function drawMarkers is referenced in initialize() in main.js in order to do it after map has been instantiated -->
    <script type="text/javascript">
function drawMarkers() {
    {% for listing in active_listings %}
        {% if listing.latitude %}
        makeMarkers({{listing.latitude}}, {{listing.longitude}});
        {% endif %}
    {% endfor %}
    }
    </script>

{% endblock %}
