<!-- NOTE: declare applicatoin as HTML5 with this declaration:  -->
<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate</title>
<!--     <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
    <meta charset="utf-8">

<!-- Must specify size or else assumed 0x0pixels -->
    <style>
/*      html { height: 100% }
      body { height: 100%; width: 50%; margin-left: 500px; padding: 0px }
      #map-canvas { height: 75% }*/

      html, body, #map-canvas {
        height: 90%;
        width: 75%;
        margin-left: 200px;
        padding: 2px
      }
/*This formats the button panel for the heat map functions */
      #panel {
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>


<!-- Load the Google Maps API in scripts tag; API key; sensor determines whether have GPS locator to determine user's location -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbQpzzHoLcw8KFj65qmHiERAtUBNLpg5I&sensor=false&libraries=visualization"></script>


<script type="text/javascript">
// initialize variables outside funciton so can use them universally 
var map, pointArray, heatmap;


// Heat map data
var taxiData = [
  new google.maps.LatLng(37.782745, -122.444586),
  new google.maps.LatLng(37.782842, -122.443688),
  new google.maps.LatLng(37.782919, -122.442815),
  new google.maps.LatLng(37.782992, -122.442112),
  new google.maps.LatLng(37.783100, -122.441461),
  new google.maps.LatLng(37.783206, -122.440829),
  new google.maps.LatLng(37.783273, -122.440324),
  new google.maps.LatLng(37.783316, -122.440023),
  ];


// <!--start  Asyncronously loading the API,  -->
// <!-- start create JS object literal to hold number of map properties
//  -->
function initialize() {
  var mapOptions = {
  // Centers on Sydney
    center: new google.maps.LatLng(37.774546, -122.433523),
    zoom: 13,  
    // mapTypeId:google.maps.MapTypeId.ROADMAP
    // mapTypeId: google.maps.MapTypeId.SATELLITE
  };

  // instantiate JS "map" object, passing it the div element and map properties
  map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);




// CENTER MARKER & CLICK ZOOM marker to center of map, zooms when clicked
  var marker = new google.maps.Marker({
    position: map.getCenter(),
    map: map,
    title: 'Click to zoom'
    // animation:google.maps.Animation.BOUNCE
  });

// 3 seconds after the center of the map has changed, pan back to the
// marker.
  // google.maps.event.addListener(map, 'center_changed', function() {
  //   window.setTimeout(function() {
  //     map.panTo(marker.getPosition());
  //   }, 3000);
  // });

// TODO Howcome I don't need to set the marker here? marker.setMap()
  google.maps.event.addListener(marker, 'click', function() {
    map.setZoom(200);
    // map.setCenter(marker.getPosition());
  });




  // HEATMAP input the array data into some variable that makes it an array? 
  pointArray = new google.maps.MVCArray(taxiData);
  // instantiate heatmap visualization object with arrayg
  heatmap = new google.maps.visualization.HeatmapLayer({
    data: pointArray
  });
// set map on the map
    heatmap.setMap(map);
  }


// TODO What is this? The following code instructs the application to load the Maps API after the page has fully loaded (using window.onload) and write the Maps JavaScript API into a <script> tag within the page. Additionally, we instruct the API to only execute the initialize() function after the API has fully loaded by passing callback=initialize to the Maps API bootstrap:
function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
      'callback=initialize';
  document.body.appendChild(script);
}

// window.onload = loadScript;


// HEATMAP BUTTONS Create a bunch of buttons that let you do stuff
function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 20);
}

function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}



// EVENT LISTENER to load map after page has loaded. What is this??? 
google.maps.event.addDomListener(window, 'load', initialize);

    </script>

  </head>

  <body>

<!-- "hold" the map in a div element, reserve a spot for it -->
    <div id="map-canvas", style="width: 50%, height: 50%"></div>

    <div id = "markers">
    {% for address in active_listings %} 
    <li> {{address.street_suffix}} </li>
    {% endfor %}
    </div>


    <div id="panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>

    <div id="metricspanel">
    <!-- Other Metrics: PSF, valuation, rental price, sophisticated logic -->
      <INPUT TYPE="Radio" Name="metrics" Value="CC">Listing Price
      <INPUT TYPE="Radio" Name="metrics" Value="DC">Sale Price
      <INPUT TYPE="Radio" Name="metrics" Value="PP">Price Change
    </div>


<!-- TODO Need these to be multi-select with checkboxes in drop down menu -->
    <div id="propertytype">
    <form>
    Property Type:
    <select id="baths">
    <option></option>
    <option>Single Family</option>
    <option>Townhouse</option>  
    <option>Apt/Condo/Loft/Co-Op/TIC</option>
    <option>Duet Home</option>
    <option>Floating Home</option>
    <option>Mobile Home</option>
    </select>
    </form>
    </div>

    <div id="bedrooms">
    <form>
    Beds:
    <select id="beds" onchange="favBrowser()">
    <option></option>
    <option>1+</option>
    <option>2+</option>  
    <option>3+</option>
    <option>4+</option>
    <option>5+</option>
    </select>
    </form>
    </div>

    <div id="bathrooms">
    <form>
    Baths:
    <select id="baths">
    <option></option>
    <option>1+</option>
    <option>2+</option>  
    <option>3+</option>
    <option>4+</option>
    <option>5+</option>
    </select>
    </form>
    </div>


<!-- TODO Need to add another baseline button? -->
    <div id="slider">
    5% <input id="slide" type="range"
    min="5" max="200" step="5" value="100"
    onchange="updateSlider(this.value)" />
    200%
    </div><br/>


<!-- TODO need to have drop down range input boxes for price and sq foot -->


  </body>
</html>

