<!-- NOTE: declare applicatoin as HTML5 with this declaration:  -->
<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
<!--     <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
    <meta charset="utf-8">


<!-- Load the Google Maps API in scripts tag; API key; sensor determines whether have GPS locator to determine user's location -->
    </head>

  <body>

<!-- "hold" the map in a div element, reserve a spot for it -->
    <div id="map-canvas"></div>

<!-- Markers -->
    <div id = "markers">
    {% for address in active_listings %} 
    <li> {{address.street_suffix}} </li>
    {% endfor %}
    </div>


<!-- Bunch of buttons -->
    <div id="panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>

    <div id="metricspanel">
    <!-- Other Metrics: PSF, valuation, rental price, sophisticated logic -->
      <INPUT TYPE="Radio" Name="metrics" Value="CC">Listing Price
      <INPUT TYPE="Radio" Name="metrics" Value="DC">Sale Price
      <INPUT TYPE="Radio" Name="metrics" Value="PP">Price Change
    </div>


<!-- TODO Need these to be multi-select with checkboxes in drop down menu -->
    <div id="propertytype">
    <form>
    Property Type:
    <select id="baths">
    <option></option>
    <option>Single Family</option>
    <option>Townhouse</option>  
    <option>Apt/Condo/Loft/Co-Op/TIC</option>
    <option>Duet Home</option>
    <option>Floating Home</option>
    <option>Mobile Home</option>
    </select>
    </form>
    </div>

    <div id="bedrooms">
    <form>
    Beds:
    <select id="beds" onchange="favBrowser()">
    <option></option>
    <option>1+</option>
    <option>2+</option>  
    <option>3+</option>
    <option>4+</option>
    <option>5+</option>
    </select>
    </form>
    </div>

    <div id="bathrooms">
    <form>
    Baths:
    <select id="baths">
    <option></option>
    <option>1+</option>
    <option>2+</option>  
    <option>3+</option>
    <option>4+</option>
    <option>5+</option>
    </select>
    </form>
    </div>

  <select multiple>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
  </select>

<!-- TODO Need to add another baseline button? -->
    <div id="slider">
    5% <input id="slide" type="range"
    min="5" max="200" step="5" value="100"
    onchange="updateSlider(this.value)" />
    200%
    </div><br/>


<!-- TODO need to have drop down range input boxes for price and sq foot -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbQpzzHoLcw8KFj65qmHiERAtUBNLpg5I&sensor=false&libraries=visualization"></script>

    <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

  </body>
</html>

