{% extends 'master.html' %}
{% block body %}

            <form class="signin" method="POST">
                <h2 class="signin-heading">Please sign in</h2>
               <ul>
                {% for message in get_flashed_messages() %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
                <input type="text" class="form-control" placeholder="Useremail!!!" name="useremail">
                <input type="password" class="form-control" placeholder="Password" name="password">
                Not a user? <a href="{{ url_for("register") }}">Register</a> a new account
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
                <a href="/clear">Logout</a> 
                </form>
{% endblock %}
