{% extends 'master.html' %}

{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<link href="/static/css/leaflet.css" rel="stylesheet">
{% endblock %}


{% block body %}
<INPUT TYPE="Checkbox" NAME="active">Show Active Listings (jquery)<br>
<INPUT TYPE="Checkbox" CHECKED NAME="toggleheat">Toggle Heat Map<br>

<div id="metricspanel">
<!-- Other Metrics: PSF, valuation, rental price, sophisticated logic -->
<!-- TODO What is this value id for? --> 
  <INPUT TYPE="Radio" CHECKED Name="metric" ID="SP">Sales Price
  <INPUT TYPE="Radio" Name="metric" ID="SPS">Sales PSF
  <INPUT TYPE="Radio" Name="metric" ID="SPSC">Sales PSF Comparison
</div>


<div id="map"></div>

{% endblock %}


{% block script %}
<!-- This makes variable now available anywhere in html page from /geoidpricessrce route -->
<!-- <script src="/geoidpricessrc"></script> -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script src="/static/js/leaflet.js"></script>
<script src ="/static/js/countyqgisCAonly.js"></script>
<script src ="/static/js/qgisblockgroups.js"></script>

<script type="text/javascript">
    
    $(document).ready(function(){
        initLeaflet();
    });

</script>

{% endblock %}

