{% extends 'master.html' %}

{% block head %}
<!-- leaflet css sheet -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<!-- my css sheet -->
<link href="/static/css/leaflet.css" rel="stylesheet">

<!-- MarkerCluster plugin -->
<link rel="stylesheet" href="/static/css/MarkerCluster.css">
<link rel="stylesheet" href="/static/css/MarkerCluster.Default.css">

{% endblock %}


{% block body %}

    <div id="metricspanel" class="controls">
    
        <h3>Amy's Thing - 5 County by Zipcode</h3>

        <div>
            <p class="col-sm-6 metricspanellabel">Show Homes For Sale</p>
            <div class="btn-group toggle-active col-sm-6" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" id="toggle-active-on">On</input>
                </label>
                <label class="btn btn-default active">
                  <input type="radio" id='toggle-active-off'>Off</input>
                </label>
            </div>
        </div>

        <div class = "show-heat-row">
            <p class="col-sm-6 metricspanellabel">Show Choropleth Map</p>
            <div class="btn-group toggle-heat col-sm-6" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" id="toggle-heat-on">On</input>
                </label>
                <label class="btn btn-default">
                  <input type="radio" id='toggle-heat-off'>Off</input>
                </label>
            </div>
        </div>

<!--         <INPUT TYPE="Checkbox" CHECKED NAME="toggleheat">Show Heat Map<br>
 -->
    <!-- Other Metrics: PSF, valuation, rental price, sophisticated logic -->
    <!-- TODO What is this value id for? --> 
    <div id="radio" class="is-nodisplay col-sm-12">
        <div class = 'radio'>
            <label>
             <INPUT TYPE="Radio" CHECKED Name="metric" ID="SP">Sale Price
            </label>
        </div>
        <div class = 'radio'>
            <label>
            <INPUT TYPE="Radio" Name="metric" ID="SPS">Sales Price/Sqft
            </label>
        </div>
        <div class = 'radio'>
            <label>
            <INPUT TYPE="Radio" Name="metric" ID="SPSC">Sales Price/Sqft % Change 
            </label>
        </div>

    </div>

        <p class="is-nodisplay" id="year-slider">
          <label for="year">Year-on-year comparison:</label>
          <input type="text" id="year" style="border:0; color:#f6931f; font-weight:bold;" readonly>
            <div id="slider-range"></div>
        </p>
    <!--     <p class="is-nodisplay" id="min-slider">
          <label for="comp-year">Comparison Year (over 2009 Crash):</label>
          <input type="text" id="comp-year" style="border:0; color:#f6931f; font-weight:bold;">
            <div id="slider"></div>
        </p> -->
    </div>

<div id="map"></div>

{% endblock %}



{% block script %}
<!-- This makes variable now available anywhere in html page from /geoidpricessrce route, one non-AJAX METHOD -->
<!-- <script src="/geoidpricessrc"></script> -->

<!-- leaflet API -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

<!-- MarkerCluster plugin -->
<script src="../static/js/leaflet.markercluster.js"></script>

<!-- GeoJSON shape files -->
<script src ="/static/js/zipssubsetonly.js"></script>
<!-- <script src ="/static/js/qgisblockgroups.js"></script> -->

<!-- my JS -->
<script src="/static/js/leaflet.js"></script>

<script type="text/javascript">
    
    $(document).ready(function(){
        initLeaflet();
    });

</script>

{% endblock %}

