{% extends 'master.html' %}
{% block body %}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<link href="/static/css/leaflet.css" rel="stylesheet">

<div id="map"></div>


<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script src="/static/js/leaflet.js"></script>

{% endblock %}


{% block script %}
    <script type="text/javascript">
    $(document).ready(function(){
        initLeaflet({{activelatlong}});
    });
    </script>

{% endblock %}

