<!-- NOTE: declare applicatoin as HTML5 with this declaration:  -->
<!DOCTYPE html>
<html>
    <head>
        <title>Real Estate</title>
            <link href="/static/css/bootstrap.css" rel="stylesheet">
            <link href="/static/css/main.css" rel="stylesheet">
<!--     <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
        <meta charset="utf-8">

    </head>
    <body>

    {% block body %}{% endblock %}

        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<!-- hello        <script type="text/javascript" src="/static/js/main.js"></script>
 -->
    {% block script %}{% endblock %}

    </body>
</html>

