{% extends 'master.html' %}
{% block body %}

<html>

    <h5> Movie Title: {{ movie_title}} </h5>

       <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>

    {% if prediction %}
    <h3>We predict you will rate this movie {{prediction}}.</h3>
    {% endif %}


{% if session.get("user_id") %}
<form class = "leave_review" method = "POST"> 
<input type="integer" class="form-control" placeholder="enter rating for this movie of 1-5" name="rating">
<input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
</form>
{% endif %}


{% for rating in movie_ratings %}
<h3> <small>Movie ID: {{ rating.movie_id }}, Movie Title: {{rating.movie.title}} received a rating of {{rating.rating}} from User ID {{ rating.user_id }}  </small> </h3>
{% endfor %}


</html>

{% endblock %}

