<!-- Why is this so slow to load? But movies seems fine -->

{% extends 'master.html' %}
{% block body %}

<html>

<!-- Fix this, then do leave posts -->
<a href="{{ url_for('view_movies') }}"> Full Movie List </a>

{% for user in users_list %}
<h3> <small><a href="{{ url_for('user_ratings', user_id=user.id) }}">User {{ user.id }}, age {{ user.age }}, zipcode {{user.zipcode}} 

{% if user.email %}
    email: {{user.email}}
{% endif %}

    has {{ user.ratings|length }} ratings</a></small> </h3>
{% endfor %}

</html>

{% endblock %}
